{% extends "main/base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/search/nav.css' %}">
<link rel="stylesheet" href="{% static 'css/search/contents.css' %}">
<link rel="stylesheet" href="{% static 'css/search/loading.css' %}">


<link href="http://cdn.pydata.org/bokeh/release/bokeh-2.3.2.min.css" rel="stylesheet" type="text/css">
<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.2.min.css" rel="stylesheet" type="text/css">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<div id="main-content">
    <p></p>
    <p></p>

    <nav class="dropdownmenu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href={{request.get_full_path}}>Summary</a></li>
          <li><a href="{{request.get_full_path}}/financial">Financial</a></li>
          <li><a href="http://www.jochaho.com/wordpress/category/news/">News</a></li>
          <li><a href="http://www.jochaho.com/wordpress/about-pritesh-badge/">Contact Us</a></li>
        </ul>
    </nav>

    <p></p>
    <p></p>

    <h1 class="company">{{name}}</h1>
    <h4 class="ticker">({{ticker}})</h4>
    <div class="contents-detail">
        <h5 class="z_val">{{z_value}}</h5>
    </div>

    <div style="display: none;">{{ prices|safe }}</div>

    <div id="table-scroll" class="table-scroll">
        <div class="table-wrap">
            {{ key_ratios|safe }}
        </div>
    </div>   
    
    <div class="stock-chart">
        {{html| safe}}
    </div>
</div>

<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.3.2.min.js"></script>

{% endblock content %}
